
* {
    border: 0;
    margin: 0;
    padding: 0;}

body{ background: bisque; }

#inclusive{
    width: 640px;
    height: 640px;
    margin: auto;
    margin-top: 20px;
}

.line{
    height: 80px;
    width: 640px;
}

.white{
    width: 80px;
    height: 80px;
    background: #fff;
    float: left;
}

.black{
    width: 80px;
    height: 80px;
    background: #000;
    float: left;
}